* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #282828;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px;
}

.description {
    display: inline-block;
    margin: 50px 0 20px 0;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);

    & kbd {
        font-size: 16px;
    }
}

.piano {
    display: flex;

    & .key {
        padding-bottom: 10px;

        border: 1px solid;
        border-top: none;
        width: 30px;
        height: 200px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: end;
        font-weight: bold;
        font-size: 12px;

        filter: brightness(0.3);
    }

    & .white {
        background-color: white;
        z-index: 1;
    }

    & .black {
        background-color: black;
        color: white;
        height: 140px;
        width: 30px;
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        z-index: 2;
    }

    & .selected {
        filter: brightness(1) drop-shadow(2px 4px 6px black);
    }

    & .active {
        background-color: hsl(0 0% 65% / 1);
    }
}